<app-skin-card-standard
  cardTitle="環境感測設備即時資訊"
  extraToolBarCSS="w-100 w-md-auto"
  extraBodyCSS="px-sm-3 px-0">
  <!-- <div toolbar class="w-100 position-relative">
    <input type="text" class="form-control min-w-search" placeholder="輸入關鍵字" />
    <span
      [inlineSVG]="svgList.fsMagnifyingGlass"
      class="svg-icon fill-muted form-control-icon"></span>
  </div> -->
  <div class="w-100 min-w-300px" toolbar>
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="搜尋關鍵字" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>
  <div body id="sensor-card-group-swiper-panel">
    <div>
      <swiper #swiper [slidesPerView]="'auto'" [spaceBetween]="60">
        <ng-container *ngFor="let item of sensorCardList">
          <ng-template swiperSlide>
            <app-sensor-card [data]="item" class="w-sm-400px w-300px"></app-sensor-card>
          </ng-template>
        </ng-container>
      </swiper>
    </div>
    <div>
      <div toolbar class="fajc gap-2 mt-3">
        <span (click)="prevSwiper()" class="bullet bullet-dot h-10px w-10px pointer"></span>
        <span class="bullet bg-success h-10px w-30px pointer"></span>
        <span (click)="nextSwiper()" class="bullet bullet-dot h-10px w-10px pointer"></span>
      </div>
    </div>
  </div>
</app-skin-card-standard>
