<app-skin-card-standard cardTitle="CO2設定">
 <div toolbar>
  <button hexBtnStyle feat="ctrlSave">儲存</button>
 </div>
 <div body class="d-flex">
  <app-big-label labelText="CO<span class='fs-7'>2</span>"></app-big-label>
  <div class="d-flex flex-column gap-10 flex-grow-1">
   <app-form-control
    [ctrl]="{
     type: 'number',
     label: '輸入新設定值',
     formGroup: form,
     controlName: 'current',
     numberParam: {
      oldLabel: '目前設定CO<span class=\'fs-7\'>2</span>',
      oldVal: 0
     }
    }"></app-form-control>
   <app-form-control
    [ctrl]="{
     type: 'switch',
     label: '是否開啟警報設定',
     formGroup: form,
     controlName: 'isOpen',
     switchParam: { ms: 0 }
    }"></app-form-control>
  </div>
 </div>
</app-skin-card-standard>
