<form
 class="form w-100"
 [formGroup]="loginForm"
 novalidate="novalidate"
 id="kt_login_signin_form"
 (ngSubmit)="submit()">
 <div class="text-center mb-10">
  <ng-container *ngIf="titleType === 'title'">
   <h1 class="text-dark mb-3">帳號登入</h1>
  </ng-container>
  <ng-container *ngIf="titleType === 'image'">
   <img [src]="picList.hiPointLowLogo" class="h-90px" alt="" />
  </ng-container>
 </div>
 <ng-container *ngIf="hasError">
  <div class="mb-lg-15 alert alert-danger">
   <div class="alert-text font-weight-bold">帳號密碼有誤或網路不正常</div>
  </div>
 </ng-container>
 <div class="fv-row mb-10">
  <label class="form-label fs-3 fw-bolder text-dark">
   <span [inlineSVG]="bp.getDuoTune('communication', 13)" class="svg-icon svg-icon-2x me-2"></span>
   <span>帳號</span>
  </label>
  <input
   class="form-control form-control-lg form-control-solid"
   type="email"
   name="email"
   formControlName="email"
   autocomplete="off"
   [ngClass]="{
    'is-invalid': loginForm.controls['email'].invalid,
    'is-valid': loginForm.controls['email'].valid
   }" />
  <ng-container
   [ngTemplateOutlet]="formError"
   [ngTemplateOutletContext]="{
    validation: 'required',
    message: 'Email is required',
    control: loginForm.controls['email']
   }"></ng-container>
  <ng-container
   [ngTemplateOutlet]="formError"
   [ngTemplateOutletContext]="{
    validation: 'email',
    message: 'Email is invalid',
    control: loginForm.controls['email']
   }"></ng-container>
  <ng-container
   [ngTemplateOutlet]="formError"
   [ngTemplateOutletContext]="{
    validation: 'minLength',
    message: 'Email should have at least 3 symbols',
    control: loginForm.controls['email']
   }"></ng-container>
  <ng-container
   [ngTemplateOutlet]="formError"
   [ngTemplateOutletContext]="{
    validation: 'maxLength',
    message: 'Email should have maximum 360 symbols',
    control: loginForm.controls['email']
   }"></ng-container>
 </div>
 <div class="fv-row mb-10">
  <div class="d-flex justify-content-between mt-n5">
   <div class="d-flex flex-stack mb-2">
    <label class="form-label fw-bolder text-dark fs-3 mb-0">
     <span [inlineSVG]="bp.getDuoTune('general', 47)" class="svg-icon svg-icon-2x me-2"></span>
     <span>密碼</span>
    </label>
   </div>
  </div>
  <input
   class="form-control form-control-lg form-control-solid"
   type="password"
   name="password"
   autocomplete="off"
   formControlName="password"
   [ngClass]="{
    'is-invalid': loginForm.controls['password'].invalid,
    'is-valid': loginForm.controls['password'].valid
   }" />
  <ng-container
   [ngTemplateOutlet]="formError"
   [ngTemplateOutletContext]="{
    validation: 'required',
    message: 'Password is required',
    control: loginForm.controls['password']
   }"></ng-container>
  <ng-container
   [ngTemplateOutlet]="formError"
   [ngTemplateOutletContext]="{
    validation: 'minlength',
    message: 'Password should have at least 3 symbols',
    control: loginForm.controls['password']
   }"></ng-container>
  <ng-container
   [ngTemplateOutlet]="formError"
   [ngTemplateOutletContext]="{
    validation: 'maxLength',
    message: 'Password should have maximum 100 symbols',
    control: loginForm.controls['password']
   }"></ng-container>
 </div>
 <div class="text-center">
  <button type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5" [disabled]="loginForm.invalid">
   <ng-container *ngIf="isLoading$ | async">
    <span class="indicator-progress" [style.display]="'block'">
     請稍後...
     <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
    </span>
   </ng-container>
   <ng-container *ngIf="(isLoading$ | async) === false">
    <span class="indicator-label fw-bolder">系統登入</span>
   </ng-container>
  </button>
 </div>
</form>
<!--end::Form-->
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
 <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
  <div class="fv-plugins-message-container">
   <span role="alert">
    {{ message }}
   </span>
  </div>
 </ng-container>
</ng-template>
