@import "/src/assets/sass/_hi-point/rwd";
.panel {
  display: grid;
  grid-template-columns: auto auto auto;

  gap: 1rem;
  @include lg {
    grid-template-columns: 1fr;
  }
}
.check-label {
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);
}
.indicator-btn {
  font-size: 20px;
  min-width: 100px;
  @include md {
    font-size: 12px;
    min-width: 75px;
  }
}
