<app-skin-card-standard cardTitle="溫度設定">
 <div toolbar>
  <button hexBtnStyle feat="ctrlSave">儲存</button>
 </div>
 <div body class="d-flex">
  <app-big-label labelText="溫度"></app-big-label>
  <div class="d-flex flex-column gap-10 flex-grow-1">
   <app-form-control
    [ctrl]="{
     type: 'number',
     label: '輸入新設定值',
     formGroup: form,
     controlName: 'current',
     numberParam: { oldLabel: '目前設定溫度', oldVal: 0 }
    }"></app-form-control>
   <app-form-control
    [ctrl]="{
     type: 'number',
     label: '輸入新上限值',
     formGroup: form,
     controlName: 'max',
     numberParam: { oldLabel: '輸入新上限值', oldVal: 0 }
    }"></app-form-control>
   <app-form-control
    [ctrl]="{
     type: 'number',
     label: '輸入新下限值',
     formGroup: form,
     controlName: 'min',
     numberParam: { oldLabel: '目前溫度下限', oldVal: 0 }
    }"></app-form-control>
   <app-form-control
    [ctrl]="{
     type: 'switch',
     label: '是否開啟警報設定',
     formGroup: form,
     controlName: 'isOpen',
     switchParam: { ms: 0 }
    }"></app-form-control>
  </div>
 </div>
</app-skin-card-standard>
