<div *ngIf="nowConfig" class="pointer mt-3 min-h-40px">
  <div class="bg-dark text-light fs-4 p-2">Blog</div>
  <div class="select-panel my-3 mx-3">
    <label class="form-label">sidebarPosition</label>
    <select #select1 class="form-control" (change)="updateState('sidebarPosition', select1.value)">
      <ng-container *ngFor="let item of ['start', 'end']">
        <option [selected]="nowConfig!.sidebarPosition === item" [value]="item">
          {{ item }}
        </option>
      </ng-container>
    </select>
  </div>
  <div class="select-panel my-3 mx-3">
    <label class="form-label">layout</label>
    <select #select2 class="form-control" (change)="updateState('layout', select2.value)">
      <ng-container *ngFor="let item of ['classic', 'grid', 'list']">
        <option [selected]="nowConfig!.layout === item" [value]="item">
          {{ item }}
        </option>
      </ng-container>
    </select>
  </div>
</div>
