<div class="panel d-flex flex-column gap-3">
  <app-block-search-group></app-block-search-group>
  <div class="d-flex">
    <div class="text-nowrap fajc fw-bolder fs-3 me-5">Group03-環境設備A1</div>
    <div class="separator separator-dashed border-white border-dark my-10 w-100"></div>
  </div>
  <app-block-device-indicator-group></app-block-device-indicator-group>
  <app-block-form-temp></app-block-form-temp>
  <app-block-form-humidity></app-block-form-humidity>
  <app-block-form-co2></app-block-form-co2>
  <app-block-form-rpm></app-block-form-rpm>
  <app-block-form-led></app-block-form-led>
  <!-- <app-block-compressor></app-block-compressor> -->
  <app-block-open-close></app-block-open-close>
</div>
