<div class="panel d-flex flex-column p-md-10 p-3 gap-3">
 <div class="text-center fs-2x fw-bolder">設定縮時影像</div>
 <div class="">
  <span class="form-label fs-3 fw-bolder text-primary">每張照片間隔秒數</span>
  <select class="form-select">
   <option value="">0.1 秒</option>
  </select>
 </div>
 <div class="temp-primary fs-3 fw-bolder p-3">共180張照片，本次影片約0分18秒</div>
 <div class="text-center mt-3">
  <button hexBtnStyle feat="modalFooter" color="success" class="ms-3">
   <span [inlineSVG]="SVG.cloud1" class="svg-icon svg-icon-2x svg-icon-light"></span>
   點我下載
  </button>
 </div>
</div>
